@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Gravitas+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.google-sans-font {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
}

/* SHARED */
:root {
    --primary-color: #1A0B2E;
    --menu-bg-color: #2f1156;
    --gradient-color-1: #a5b42e;
    --gradient-color-2: #c11cb3;
    --gradient-color-3: #4b0b90;
    --text-color: whitesmoke;
    --text-color-2: #e2d6ee;
}

.display-flex {
    display: flex;
}

.btn-primary {
    background-image: linear-gradient(75deg, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-3));
    color: var(--text-color);
    cursor: pointer;
    border-radius: 20px;
    padding: 1rem;
    border: thin solid var(--menu-bg-color);
    transition: 1s ease-in-out;
    gap: .25rem;
    justify-content: center;
    align-items: center;
}

.btn-primary:hover {
    transform: scale(1.25) translate(5px);
}

.section-title {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 900;
}

/* NAVBAR */
.navbar {
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: thin solid var(--menu-bg-color);
}

.menu {
    list-style: none;
    background-color: var(--menu-bg-color);
    text-align: center;
    border-radius: 25px;
    gap: .5rem;
    padding: 1rem 1rem 1rem 1rem;
}

.menu-item a {
    text-decoration: none;
    color: var(--text-color);
    transition: 1s ease-in-out;
}

.menu-item a:hover {
    cursor: pointer;
    transform: scale(2) translate(5px);
}

.fa-bars {
    display: none !important;
}

.wave {
    background: linear-gradient(to top, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.navbar h2 {
    font-size: 2rem;
    font-weight: bold;
}

/* BANNER */
.banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
    height: auto;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-img-container {
    background-image: url("../assets/hero-circle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: 30px;
}

.banner-img-container img {
    padding: 6rem;
}

.mic-button {
    padding: 5px 10px;
    font-size: .75rem;
    font-weight: bold;
    background-color: #00FF88;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 1px #00FF88;
    position: absolute;
    top: 50px;
    right: 30px;
    z-index: 1;
}

.banner-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 10px;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: bolder;
    color: var(--text-color);
    margin: 1rem;
}

.description {
    color: var(--text-color-2);
    max-width: 600px;
}

.banner-btn {
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.banner-btn>.btn-primary {
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.banner-btn .btn-primary a {
    color: var(--text-color);
    text-decoration: none;
    font-size: .75rem;
}

.banner-btn .btn-transparent {
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-align: center;
    padding: 1rem;
    color: #00FF88;
    background-color: transparent;
    border: thin solid #00FF88;
    transition: 1s ease-in-out;
}

.banner-btn .btn-transparent:hover {
    transform: scale(1.25) translate(5px);
}

.hide {
    display: none !important;
}

/* ABOUT */
.about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px 200px 120px;
    border: none;
}

.about .about-content .description {
    max-width: 750px;
}

.about hr {
    width: 100%;
    color: #e2d6ee;
    opacity: .1;
    margin: 1rem 0;
}

.about-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.about-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1px;
}

.about-header {
    padding: 0;
    color: #00FF88;
    font-size: 2rem;
    font-weight: 700;
}

.about-description {
    color: var(--text-color-2);
}

/* RESPONSIVE */
@media screen and (max-width:576px) {
    .navbar {
        justify-content: space-between;
        padding: 0px 20px;
    }

    .navbar .menu,
    .navbar .btn-primary {
        display: none;
    }

    .navbar::after {
        content: url("../assets/hamburger-menu.png");
    }

    .banner-img-container {
        top: 70px;
    }

    .banner-img-container img {
        width: 80px;
    }

    .mic-button {
        right: 20px;
    }

    .banner-content {
        padding: 30px;
    }

    .about{
        padding: 20px 15px 60px;
    }
    .about .about-content .description {
        width: 100%;
    }

    .about-info {
        grid-template-columns: repeat(2, 1fr);
    }

}